@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

* {
    font-family: 'Rubik Bubbles', cursive;
    background-color: #0081C9;
    letter-spacing: 3px;
}

.gameDiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.btns {
    margin: 50px 0 0 39%;
}

.btns button {
    border: 1px solid #E3ACF9;
    font-size: 1.1rem;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 20px;

}   

button:hover {
    background-color: #E3ACF9;
    cursor: pointer;
}


.heading {
    font-size: 3rem;
    color: #E3ACF9;
    /* margin-left: 40%; */
    text-align: center;
}
